# Backend API URL (.NET/C# server)
NEXT_PUBLIC_API_URL=http://localhost:5065

# Supabase Authentication
NEXT_PUBLIC_SUPABASE_URL=https://jygtddlvzaojekyvdyan.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp5Z3RkZGx2emFvamVreXZkeWFuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIxMTYwMTMsImV4cCI6MjA4NzY5MjAxM30.CLtVTvJAcwVbrg_jii-nwyE4pm9k9beefOz0a_guUH4

# Next.js
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-here

# Vercel Analytics (solo en producción)
# VERCEL_ANALYTICS_ID=
